#sidenav_container {
    background-color: #FFFFFF;
    font-family: 'Poppins';
    box-sizing: border-box;
    height: 100vh;
    z-index: 100;
}

#sidenav {
    padding: 40px 30px;
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    align-content: flex-start;
    box-shadow: 0px 10px 60px 0px #E2ECF980;
}

.logo_bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    padding-right: 10px;
}

.logo_div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.logo_large {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 0.01em;
    color: #000000;
}

.logo_small {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.01em;
    color: #838383;
    padding-left: 5px;
}

.main_nav {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-content: flex-start;
    padding: 15px 0;
    margin: 50px 0 50px 0;
    background-color: #FFFFFF;
    z-index: 99;
}

li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 4px 0;
    color: #9197B3;
}

li a {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-decoration: none;
}

a img {
    padding-right: 15px;
}

.menu_item_active {
    background: #5932EA;
    border-radius: 8px;
    color: #FFFFFF;

}

.user_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    bottom: 10%;
}

.data_user_menu {
    padding-left: 12px;
}

.user_menu_name {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #000000;
}

.user_menu_position {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #757575;
}